
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
</head>
<body>
    <div> 
        @Html.Raw((String)ViewBag.Output)
    </div>
</body>
</html>
