
@{
    ViewBag.Title = "Instrument";
}

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Instrument</h2>
    <a href=@Url.Action("New", "Rentals") class="btn btn-primary btn-lg">New</a>
    <a href=@Url.Action("Used", "Rentals") class="btn btn-primary btn-lg">Used</a>
    <div>
        <img src="@ViewBag.Logo" />
        @Html.Raw((String)ViewBag.Output)
    </div>
</body>