body {
}

.myFooterText {
    font-family: Arial;
}

.header-background {
    background-color: #00000078;
    width: 100%;
    height: 100%;
}

.rental-style {
    color: white;
}

.rental-background {
    background: rgba(0, 0, 0, 0.04);
}

.coolbutton {
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.coolbutton:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.button {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.coolbutton:hover .button {
    opacity: 1;
}

.picture-button {
    margin-top: 40%;
    background-color: white;
    border-radius: 5px;
    width: auto;
    color: black;
    line-height: 22px;
}

.picture-button:hover {
    background-color: rgb(171, 232, 230);
    transition-duration: 0.4s;
}

.form-fifty {
    width: 50%;
}

.form-title {
    flex: 0 0 16.666667%;
    max-width: 100%;
    padding-left: 15px;
}

.admin-page-index {
    width: 100%;
    min-height: 60rem;
}

.col-2nd {
    padding-left: 20px;
}

.table-row {

}

.hovered {
    background-color: rgba(135, 135, 135, 0.74);
}

.highlighted {
    background-color: rgba(140, 151, 171, 0.80);
}

.oddrow {
    background-color: #cccccc14;
}

.display-page {
    background-image: url(../Content/admin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60rem;
}

.datatable-container {
    background-color: rgba(50, 50, 50, 0.50);
    border-radius: 5px;
}